<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
		</script>

		<meta charset="utf-8" />
		<title>Juego de Memoria</title>
	</head>



	<body>
	<section class=ejemplo>
		<div class=controles>
			<div class=boton>
				<a id='iniciar' class=init (click)="reiniciar()">Reiniciar</a>
			</div>
			<div id="cronometro" class=boton>
				<p *ngIf="!juego.perdio">{{Tiempo}}</p>
			</div>
			<div class=boton>
				<p *ngIf="juego.gano" class="ganar" id='reiniciar'>Ganaste!!</p>
				<p *ngIf="juego.perdio" class="perder" id='reiniciar'>Perdiste!!</p>
				<p *ngIf="!juego.perdio && !juego.gano" id='reiniciar'>Suerte!!</p>
				
			</div>
		</div>
		<div class=memoria>
      <div *ngFor = "let carta of juego.coordenadasDisponibles"  (click) = "meSelecciono(carta)">
				<div class="flip" *ngIf="!carta.fija">
					<img  src= "/assets/imagenes/joker.jpg" height="160" width="150" [ngClass]="{'flip-1' : !carta.mostrar, 'hide' : carta.mostrar}">  						
					<img  src={{carta.ruta+carta.imagen}} height="160" width="150" [ngClass]="{'flip-2' : !carta.mostrar}" id={{carta.posicion}}>  
				</div>
      </div>
		</div>
		<div class='retro msn'>
			<p>
			</p>
		</div>
		<div class=retro id='final'>
         <p>
         </p>
      </div>
	</section>
	</body>
</html>