<html>
	<head>
		<meta charset="utf-8" />
		<title>Juego de Memoria</title>
	</head>

	<body>
	<section class=ejemplo>
		<div class=controles>
			<div class=boton>
				<a id='iniciar' class=init (click)="reiniciar()">Reiniciar</a>
			</div>
			<div id="cronometro" class=crono>
				<span >{{segundero}}</span>
			</div>
			<div class=boton>
				<p *ngIf="juego.gano" class="ganar" id='reiniciar'>Ganaste!!</p>
				<p *ngIf="juego.perdio" class="perder" id='reiniciar'>Perdiste!!</p>
				<p *ngIf="!juego.perdio && !juego.gano" id='reiniciar'>Suerte	!!</p>
				
			</div>
		</div>
		<div class=memoria>
      <div class="card" *ngFor = "let carta of juego.coordenadasDisponibles"  (click) = "meSelecciono(carta)">
          <article class=unoUno> 
            <img *ngIf="carta.mostrar" src={{carta.ruta+carta.imagen}} height="160" width="150" >  
          </article>  
      </div>
		</div>
		<div class='retro msn'>
			<p>
			</p>
		</div>
		<div class=retro id='final'>
         <p>
         </p>
      </div>
	</section>
	</body>
</html>