<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<table class="table table-bordered table-responsive">
  <thead class="thead-inverse">
    <tr class="active"> 
        <th>Juego</th>
        <th>Jugador</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado">
        <td>{{juego.juego}}</td>
        <td >{{juego.usuario}}</td > 
        <td>{{juego.puntos}}</td>    
      </tr>
     
    </tbody>
  </table>